In [25]:
import pandas as pd
#from pyspark.mllib.clustering import KMeans, KMeansModel
import numpy as np

ImportError: No module named pyspark.mllib.clustering

In [10]:
adclicksDF = pd.read_csv("../from_coursera/big_data_capstone_datasets_and_scripts/flamingo-data/ad-clicks.csv")
adclicksDF = adclicksDF.rename(columns=lambda x: x.strip())
adclicksDF['adCount'] = 1
adclicksDF.head(5)

,timestamp,txId,userSessionId,teamId,userId,adId,adCategory,adCount
0,2016-05-26 15:13:22,5974,5809,27,611,2,electronics,1
1,2016-05-26 15:17:24,5976,5705,18,1874,21,movies,1
2,2016-05-26 15:22:52,5978,5791,53,2139,25,computers,1
3,2016-05-26 15:22:57,5973,5756,63,212,10,fashion,1
4,2016-05-26 15:22:58,5980,5920,9,1027,20,clothing,1

In [16]:
buyclicksDF = pd.read_csv("../from_coursera/big_data_capstone_datasets_and_scripts/flamingo-data/buy-clicks.csv")
buyclicksDF = buyclicksDF.rename(columns=lambda x: x.strip())
buyclicksDF.head(5)

             timestamp  txId  userSessionId  team  userId  buyId  price
0  2016-05-26 15:36:54  6004           5820     9    1300      2    3.0
1  2016-05-26 15:36:54  6005           5775    35     868      4   10.0
2  2016-05-26 15:36:54  6006           5679    97     819      5   20.0
3  2016-05-26 16:36:54  6067           5665    18     121      2    3.0
4  2016-05-26 17:06:54  6093           5709    11    2222      5   20.0

In [17]:
userPurchases = buyclicksDF[['userId','price']] 
userPurchases.head(5)

   userId  price
0    1300    3.0
1     868   10.0
2     819   20.0
3     121    3.0
4    2222   20.0

In [18]:
useradClicks = adclicksDF[['userId','adCount']]
useradClicks.head(5)

   userId  adCount
0     611        1
1    1874        1
2    2139        1
3     212        1
4    1027        1

In [20]:
adsPerUser = useradClicks.groupby('userId').sum()
adsPerUser = adsPerUser.reset_index()
adsPerUser.columns = ['userId', 'totalAdClicks'] #rename the columns
adsPerUser.head(n=5)

   userId  totalAdClicks
0       1             44
1       8             10
2       9             37
3      10             19
4      12             46

In [21]:
revenuePerUser = userPurchases.groupby('userId').sum()
revenuePerUser = revenuePerUser.reset_index()
revenuePerUser.columns = ['userId', 'revenue'] #rename the columns
revenuePerUser.head(n=5)

   userId  revenue
0       1     21.0
1       8     53.0
2       9     80.0
3      10     11.0
4      12    215.0

In [22]:
combinedDF = adsPerUser.merge(revenuePerUser, on='userId') #userId, adCount, price
combinedDF.head(5)

   userId  totalAdClicks  revenue
0       1             44     21.0
1       8             10     53.0
2       9             37     80.0
3      10             19     11.0
4      12             46    215.0

In [23]:
trainingDF = combinedDF[['totalAdClicks','revenue']]
trainingDF.head(n=5)

   totalAdClicks  revenue
0             44     21.0
1             10     53.0
2             37     80.0
3             19     11.0
4             46    215.0

In [24]:
trainingDF.shape

(543, 2)